.footer__column-link {
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-self: start;
  margin-bottom: 10px;
}
.footer__column-link:last-of-type {
  margin-bottom: 16px;
}

.footer__column-link{
  transition: opacity 400ms ease;
  }
  .footer__column-link:hover{
  opacity: 0.4;
  }