.feynman {
  min-height: 790px;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  position: relative;
  background-color: #f2f2f2;
  justify-content: flex-start;
  align-items: center;
}
